/*全局css样式*/
body, ul, li, a, p, h2, h3, textarea, button, input, select {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: "微软雅黑";
    &:focus {
        outline: none;
    }
}